*{
  box-sizing: border-box;
}
html,body{
  height: 100%;
}
body {
  padding:0;
  margin: 0;
  font: 14px "lucida grande",helvetica,arial,sans-serif;
}
a{
  color: blue;
}
.full {
  height: 100%;
  display: flex;
  background: lightblue;
  justify-content: center;
  align-items: center;
}

.title{
  padding:10px;
  text-align: center;
}